.about_baneer{
    width: 100%;
    height: 223px;
    object-fit: cover;
    border-radius: 25px;
    filter: brightness(65%);
    margin-top: 49px;
    margin-bottom: 33px;
}
.collapses{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item{
    margin-bottom: 31px;
}
.title{
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 47px;
    width: 1023px;
    border-radius: 5px;
    background: #FF6060;
    color: white;
    margin: 0%;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    
}
.content_on{
    
    width: 1023px;
    padding: 27px 27px 19px 19px;
    box-sizing: border-box;
    margin: 0%;
    background: #F6F6F6;
    border-radius: 5px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;

}
.content_off{
    display: none;
}
.p_collapse{
    margin: 0%;
    color : #FF6060;

}
.arrow_collapse{
    margin-right: 17px;
    width: 24px;
}
@media screen and (max-width:1200px){
    .title , .item , .content_on{
        width: 100%;
    }
    
}
@media screen and (max-width:640px){
    .about_baneer{
        border-radius: 10px;
        margin-bottom: 19px;
    }
    .item{
        width: 100%;
        margin-bottom: 20px;
    }

    .title{
        padding: 10px 7px  10px 11px;
        width: 100%;
        font-size: 13px;
        line-height: 19px;
        height: auto;
    }
    .arrow_collapse{
        margin-right: 7px;
    }
    .content_on{
        padding: 17px 7px 50px 11px;
        width: 100%;
        font-size: 12px;
        line-height: 17px;
        
    }
}