.error{
    font-family: Montserrat;
    font-size: 288px;
    font-weight: 700;
    line-height: 411px;
    letter-spacing: 0em;
    text-align: center;
    color: #FF6060;
    margin: 0;
}

.oups{
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;
    letter-spacing: 0em;
    color: #FF6060;
    text-align: center;
    margin: 0;
}

.retour{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 182px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 225px;
}

.retour a{
    color: #FF6060;
}