.footer{
    position: absolute;
    box-sizing: border-box;
    padding-top: 66px;
    justify-content: space-between;
    padding-bottom: 29px;
    margin-top: 200px;
    height: 209px;
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    left: 0px;

}
.logo_kasa_footer{
    color: white;
    width: 122px;
}
.p_footer{
    color: white;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    margin: 0%;

}

@media screen and (max-width:640px){
    .footer{
        box-sizing: border-box;
        padding-top: 62px;
        justify-content: space-between;
        padding-bottom: 62px;
        margin-top: 150px;
    }

    .logo_kasa_footer{
        height: 40px;
        width: 122px;
    }
    
    .p_footer{
        font-size: 12px;
        line-height: 17px;
        text-align: center;  
        margin: 0%;     
    }
}