.baneer{
    height: 223px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10px;
    margin-top: 69px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-blend-mode:darken;
    background:rgba(0, 0, 0, .35) url("../assets/back_baneer.svg");
}
.p_baneer{
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 500;
    color: white;
}
.gallery{
    width: 100%;
    box-sizing: border-box;
    margin-top: 43px;
    padding: 56px 50px;
    background: #F7F7F7;
    border-radius: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 50px;
        
}
.card{
    height: 340px;
    width: 340px;
    border-radius: 10px;
    display: flex;
    align-items: end;
    justify-content: left;
    padding: 20px;
    box-sizing: border-box;
    text-decoration: none;
}
.h_card{
    color: white;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    margin: 0%;
}


@media screen and (max-width:1450px){
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 25px;
        }
    .card{
        margin: auto;
        width: 100%;
    }
}

@media screen and (max-width:700px){
        
    .gallery{
        display: flex;
        flex-direction: column;
        grid-row-gap: 20px;
    }
}

@media screen and (max-width:640px){
.baneer{
    height: 111px;
    width: 100%;
    border-radius: 10px;
    justify-content: flex-start;
    
    }
.p_baneer{
    font-size: 24px;
    line-height: 24px;
    margin-left: 16px;
    width: 220px;
}

.card{
    height: 255px;
    width: 100%;
    border-radius: 10px;    
    margin: 0%;
}
.gallery{
    padding: 0%;
    background-color: white;
    display: flex;
    flex-direction: column;
    grid-row-gap: 20px;
}
}