.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
nav{
    width: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.logo_kasa{
    height: 68px;
    width: 210.32154846191406px;
}
#underline{
    text-decoration: underline;
}
.item_nav{
    text-decoration:none;
    margin-left: 57px;
    height: 34px;
    width: 116px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: right;
    color: #FF6060;
}

@media screen and (max-width:640px){

    .logo_kasa{
        height: 47px;
        width: 145px;
    }
    .item_nav {
        font-size: 12px;
        font-weight: 500;
        line-height: 17px;
        margin-left: 13px;
        width: auto;
        height: auto;
        text-transform: uppercase;

    }

}