.slider{
    position: relative;
    display: block;
    height: 415px;
    width: 100%;
    border-radius: 25px;
    margin-top: 25px;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
}
.arrow{
    position: absolute;
    top: 40%;
    z-index: 1;
    cursor: pointer;
}
.arrow_left{
    left: 23px;
}
.arrow_right{
    right: 23px;
}
.infos{  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.right_side{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.left_side{
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.title_product{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    color: #FF6060;
    margin: 0%;
}
.proprio{
    display: flex;
    align-items: center;
}
.proprio_img{
    height: 64px;
    width: 64px;
    left: 1273px;
    top: 567px;
    border-radius: 50%;
    margin-left: 10px;
}
.proprio_name{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: right;
    color: #FF6060;
    
}
.place{
    margin: 0%;
    color: #FF6060;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 23px;
    
}   
.tags{
    display: flex;
    flex-direction: row;
}
.tag{
    background-color: #FF6060;
    padding: 3px 40px ;
    border-radius: 10px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: white; 
    margin-right: 10px;
}
.stars{
    margin-top: 27px;
    align-self: flex-end;
}
.star{
    margin-left: 15px;
}

.collapses_product{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
#Equipements , #Description{
    width: 47%;
    box-sizing: border-box;
    margin-top: 24px;
}
#content_Equipements , #content_Description{
    width: 100%;
    box-sizing: border-box;
}
#p_Equipements , #p_Description{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    
}

#title_Equipements , #title_Description{
    width: 100%;
    box-sizing: border-box;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    padding: 13px 0 13px 20px;
    font-weight: normal;
    
}
.ul_product{
    padding: 0%;
    margin: 0%;
    list-style-type: none;
}

@media screen and (max-width:640px){
    .right_side{
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4px;
    }
    .infos{
        flex-direction: column;
    }
    .collapses_product{
        flex-direction: column;
    }
    .slider{
        height: 255px;
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .img{
        border-radius: 10px;
    }
    .arrow{
        height: 20px;
        width: 12px;
        top: 47%;
    }
    .title_product{
        font-size: 18px;
        line-height: 26px;
    }
    .place{
        margin-top: 3px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 20px;
    }
    .tags{
        margin-bottom: 16px;
    }
    .tag{
        padding: 3px 30px 2px 30px;
        border-radius: 5px;
        font-size: 10px;
        line-height: 14px;
    }
    .star{
        height: 13px;
        margin-right: 6px;
        margin-left: 0px;
    }
    .stars{
        margin: auto;
        margin-left: 0%;
    }
    .proprio_img{
        width: 32px;
        height: 32px;
    }
    .proprio_name{
        font-size: 12px;
        line-height: 17px;
        width: 80px;
    }
    #Equipements , #Description{
        width: 100%;
        margin-bottom: 20px;
        margin-top: 0%;
    }
    #title_Equipements , #title_Description{
        font-size: 13px;
        line-height: 19px;   
        padding: 0%;
        height: auto;
        padding:  5px 11px;
    }
    .arrow_collapse{
        margin-right: 0%;
        height: 9px;
        width: 16px;
        
    }
    #p_Equipements , #p_Description{
        font-size: 12px;
        line-height: 17px;
    }
    #content_Equipements , #content_Description{
        padding: 17px 11px 1px 11px;
    }
}